*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
    
}

body {
   background: url(images/library.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 1200px;
  margin: 40px auto;
    margin-top: 2cm;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 20%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #006080;
  color: #ffffff;
}
.tab-group .active a {
  background: #008CBA;
  color: #ffffff;
}


.tab-group2 {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group2:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group2 li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group2 li a:hover {
  background: #006080;
  color: #ffffff;
}
.tab-group2 .active a {
  background: #008CBA;
  color: #ffffff;
}

.tab-group3 {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group3:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group3 li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 33.33%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group3 li a:hover {
  background: #006080;
  color: #ffffff;
}
.tab-group3 .active a {
  background: #008CBA;
  color: #ffffff;
}
.tab-group4 {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group4:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group4 li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 25%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group4 li a:hover {
  background: #006080;
  color: #ffffff;
}
.tab-group4 .active a {
  background: #008CBA;
  color: #ffffff;
}


.tab-content > div:not(:first-child) {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
     cursor: default;
}

select{
     cursor: pointer;
}

label {
  position: relative;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 25%;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #008CBA;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}


.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #008CBA;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #006080;
     cursor: pointer;
}

.button-block {
  display: block;
  width: 35%;
}
.button-block2 {
  width: 25%;
}


.btn {
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	font-size: 12px;
	padding: 5px 15px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	border-bottom-width: 3px;
    
}

	.btn:hover {
         cursor: pointer;
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}



.forgot {
  margin-top: -20px;
  text-align: right;
}

table {
    border-collapse: collapse;
    width: 90%;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    align-content: center;
  cursor: default;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(odd){background-color: #f2f2f2}
tr:nth-child(even){background-color: #ceccc8}
tr:hover {background-color: #ddd;}
th {
    background-color: #008CBA;
    color: white;
    
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.li {
    cursor: pointer;
    float: left;
}
.li:last-child { float:right; }

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover:not(.active) {
    background-color: #008CBA;
}

///modal css

//
// Variables
// ----------------------

@gray: #333;
@gray-light: #aaa;
@gray-lighter: #eee;
@space: 40px;
@blue: #428bca;
@blue-dark: darken(@blue, 5%);

// Mixin for transition/transform
.translate(@x; @y) {
  -webkit-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y); // IE9+
          transform: translate(@x, @y);
}
.transition(@transition) {
  -webkit-transition: @transition;
          transition: @transition;
}
.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}

//
// Body
// ----------------------






//
// Btn 
// ----------------------

.modalbtn{
  background: @blue;
  border: @blue-dark solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
 /* top: 40em;*/
  
  &:hover{
    background: @blue-dark;
  }
  
 
  
}

.btn-close{
  color: @gray-light;
  font-size: 30px;
  text-decoration: none;
  position: absolute; right: 5px; top: 0;
  
  &:hover{
     color: darken(@gray-light, 10%);
  }
  
}

//////////
/// pop up
/////////=================

#display_popup
{
 font-size:20px;
 cursor:pointer;
}
#popup_box
{
 visibility:hidden;
 display:none;
 width:30%;
  background-color:white;
 position:fixed;
 left:35%;
 top:10%;
    background: rgba(0, 0, 0, 0.9);
box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
 font-family:helvetica;
}


#popup_box #info_text
{
 padding:50px;
 clear:both;
 color:white;
      
}


.close {
background: rgba(0, 0, 0, 0.6);
    border: none;
  position: relative;
    margin-left: 89%;
    margin-top: 3%;
  font-size: 28px;
  opacity: 0.4;
    color: white;
    cursor: pointer;
}
.close:hover {
  opacity: 0.8;
}

.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


